{% extends 'base.html.twig' %}

{% block title %}Mon CV{% endblock %}

{% block body %}
<div class="container mt-5">
    <header class="text-center mb-4">
        <h1>Mon CV (Curriculum Vitae)</h1>
        <p class="lead">Aspirant au poste d'expert en cybersécurité</p>
    </header>

    <section class="my-4">
        <h2 class="mb-3">Formation</h2>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">BUT en Réseaux et Télécommunications(première année)</h3>
            
            </div>
        </div>
    </section>

    <section class="my-4">
        <h2 class="mb-3">Expériences Professionnelles</h2>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Employés chez des particuliers</h3>
                <p class="card-text">Dans la construction de batiment</p>
            </div>
        </div>
    </section>

    <section class="my-4">
        <h2 class="mb-3">Compétences</h2>
        <ul class="list-group">
            <li class="list-group-item">Réseaux et Télécommunications</li>
            <li class="list-group-item">Programmation (C, Python, HTML, CSS, PHP)</li>
            <li class="list-group-item">Administration Système</li>
            <li class="list-group-item">Protocoles réseau (TCP/IP, DNS, DHCP)</li>
            <li class="list-group-item">Travaux manuels</li>
            <li class="list-group-item">Doué en mathématique</li>
        </ul>
    </section>

    <section class="my-4">
        <h2 class="mb-3">Langues</h2>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Niveau de Langues</h3>
                <ul class="list-group">
                    <li class="list-group-item">Français (Langue maternelle)</li>
                    <li class="list-group-item">Anglais (Intermédiaire)</li>
                    <li class="list-group-item">Espagnol (Débutant)</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="my-4">
        <h2 class="mb-3">Diplômes Obtenu</h2>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">BEPC</h3>
                <p class="card-text">Lycée Thuriaf, 2020/2021</p>
            </div>
            <div class="card-body">
                <h3 class="card-title">BAC C (Maths et Sciences physiques)</h3>
                <p class="card-text">Lycée Thuriaf(Gabon), 2022/2023</p>
            </div>
            <!-- Ajouter plus de cartes pour d'autres diplômes si nécessaire -->
        </div>
    </section>

    <section class="my-4">
        <h2 class="mb-3">Objectif Professionnel</h2>
        <p>Développer mes compétences en réseaux et télécommunications, contribuer de manière significative à des projets innovants et évoluer professionnellement dans le domaine de la technologie de l'information.</p>
    </section>
    <footer class="text-center mt-5">
        <p>&copy; 2024 JulienNkoma - Tous droits réservés. | Contact : juliennkoma75@gmail.com</p>
        <p>Ce site est protégé contre la copie. Toute reproduction non autorisée est interdite.</p>
    </footer>
    
</div>
{% endblock %}
