{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Compétences et Apprentissage critiques</h1>

    <section class="my-4">
        <h2 class="mb-3">RT1 - Administrer les réseaux et l'internet</h2>
        <ul class="list-group">
            <li class="list-group-item">Savoir identifier les dysfonctionnements du réseau local</li>
            <li class="list-group-item">Configurer les fonctions de base du réseau local</li>
            <li class="list-group-item">Installer un poste client</li>
            <li class="list-group-item">Maitriser les lois fondamentales de l'électricité afin d'intervenir sur des équipements de R&T</li>
        </ul>
    </section>

    <section class="my-4">
        <h2 class="mb-3">RT2 - Connecter les entreprises et les usagers</h2>
        <ul class="list-group">
            <li class="list-group-item">Mesurer et analyser les signaux</li>
            <li class="list-group-item">Déployer des supports de transmissions</li>
            <li class="list-group-item">Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</li>
            <li class="list-group-item">Communiquer avec un client ou collaborateur</li>
        </ul>
    </section>

    <section class="my-4">
        <h2 class="mb-3">RT3 - Créer des outils et applications informatiques pour les R&T</h2>
        <ul class="list-group">
            <li class="list-group-item">Lire, exécuter, corriger et modifier un programme</li>
            <li class="list-group-item">Traduire un algorithme en langage C ou Python</li>
            <li class="list-group-item">Utiliser les outils informatiques</li>
            <li class="list-group-item">Connaître l'architecture et les technologies d'un site Web</li>
            <li class="list-group-item">Utiliser un système informatique et ses outils (infos système, fichiers, CLI, zips, outils collaboratifs sur internet, hygiène informatique...;référentiels PIX et CyberEdu).</li>
            <li class="list-group-item">Connaitre l'architecture et les technologies d'un site Web (langage et outils : HTML, CSS, CMS, JS, responsive).</li>
        </ul>
    </section>
    <footer class="text-center mt-5">
        <p>&copy; 2024 JulienNkoma - Tous droits réservés. | Contact : juliennkoma75@gmail.com</p>
        <p>Ce site est protégé contre la copie. Toute reproduction non autorisée est interdite.</p>
    </footer>
</div>
{% endblock %}
